@font-face {
    font-family: 'Comic';
    src: url('ComicSans.ttf') format('woff')
}

.background{
    background-color: rgb(57, 32, 80);
    color: rgb(18, 16, 16);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: normal;
    clear: both;
}

.header{
    margin: 0;
    font-size: 50px;
    padding: 0 60px;
    color: rgb(19, 11, 11);
}

.lineBottomParent{
    display: flex;
    align-items: start;
}

.lineBottomVertical {
    border:  2px solid;
    border-color: rgb(2, 1, 1);
    margin-bottom: 0;
    margin-left: 0;
    height:10px;
    display: inline-block;
}

.lineBottom{
    margin-right: 0;
    margin-left: 45px;
    color: rgb(5, 3, 3);
    width: 70%;
    border: 2px solid;
}

.parentCard{
    margin: 0 120px 0 120px ;
    display: flex;
}

.card{
    width: 80%;
    border-radius: 15px;
    background-color: rgb(214, 211, 211);
    height: 800px;
    flex-grow: 1;
    display: flex;
    
    justify-content: center;
}

.leftOfCard {
    width: 20%;
    height: 750px;
    align-items: center;
}

.leftHr{
    color: rgb(124, 122, 122);
    align-content: start;
    border: 1px solid;
    border-radius: 10px;
}

.leftTxt{
    margin-top: 30%;
    margin-bottom: 0;
}

.lineCenter{
    border:  2px solid;
    border-color: rgb(57, 32, 80);
    margin: 0;
    height: 700px;
    margin-top: 25px;
    margin-bottom: 25px;
    border-radius: 100px;
    display: inline-block;
}

.amirContent{
    width: 50%;
    display: inline;
    justify-content: center;
    margin-top: 40px;
    margin-left: 20px;
    margin-right: 20px;
}

.erfanContent{
    width: 50%;
    display: inline;
    justify-content: start;
    margin-top: 40px;
    margin-left: 20px;
    margin-right: 20px;
}

.headSection{
    border-radius: 10px;
    padding: 4px 0;
    margin: 20px 10px;
    font-size: 15px;
    color:white;
    text-align: center;
    font-weight: 500;
    background-color: rgb(57, 32, 80);
}

p {
    margin: 5px 10px;
    color: rgb(57, 32, 80);
    font-size: 12px;
    justify-content: start;
}

.skill-grid {
    display: inline-grid;
    grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
    align-content: center;
    width: 100%;
}

.skill-box {
    background-color: rgb(57, 32, 80);
    color: #fff;
    font-size: 10px;
    text-align: center;
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
}

.iamge {
    margin-left: 40px;
    border-radius: 20%;
    width: 200px;
    height: 250px;
    object-fit: cover;
}

.parentimage div{
    align-content: center;
    margin-left: 30px;
}

.name {
    font-size: 20px;
    margin-bottom: 10px;
    margin-left: 10px;
    font-weight: normal;
}

.parentimage{
    text-align: start;
    justify-content: start;
    display: flex;
}


.list {
    list-style: none;
    padding-left: 0;
  }
  .list-item {
    position: relative;
    padding-left: 40px;
    padding-bottom: 30px;
    margin-bottom: 30px;
    border-bottom: 2px dashed #ededed;
  }
  .list-item:before {
    content:'';
    position: absolute;
    left: 0;
    top: 3px;
    width: 9px;
    height: 9px;
    border-radius: 50%;
    background-color: #000;
  }
  
  .list-item__title {
    font-size: 11px;
    text-transform: uppercase;
  }
  .list-item__date {
    font-size: 10px;
    text-transform: uppercase;
    margin-bottom: 5px;
  }
  .list-item__text {
     font-size: 10px;
    color: #777;
  }
  .list-item_non_border {
    border: none;
  }
  .skills-list {
    list-style: none;
    padding-left: 0;
  }
  .skills-list__item {
    margin-bottom: 30px;
    text-transform: uppercase;
    font-size: 11px;
    display: flex;
    justify-content: space-between;
  }
  .level {
    width: 70%;
    height: 8px;
    border: 1px solid #39383a;
    position: relative;
  }
  .level:before {
    content:'';
    position: absolute;
    height: 100%;
    background-color: #898989;
  }
  .level-75:before {
    width: 75%;
  }
  .level-62:before {
    width: 62%;
  }
  .level-82:before {
    width: 82%;
  }
  